body{
    background-color: white;
    font-family: "Markazi Text", serif;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 3em;

}
h2{
    font-size: 2em;
}
header>img {display: block;
    margin-left: auto;
    margin-right: auto;

}
nav ul {
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
}
