---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Vivero VerdeVida - Tu Jardín Ideal">
	<Header />
	<main>
		<Hero />
		<Services />
		<Gallery />
		<ContactForm />
	</main>
	<Footer />
</Layout>
